shared()
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 6px;
  &:hover,&:focus
    border 1px solid #3eaf7c

input {
  width: 100%;
  shared()
}

button {
  shared()
}

* {
  box-sizing: border-box;
}

.doc-example {
  padding: 10px;
  background: #eee;
  border-radius: 6px;
}

.doc-example p {
  margin-top: 0;
}
