/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */
@tailwind utilities;

html, body {
  @apply bg-gray-50 min-h-full;
}

* {
  box-sizing: border-box;
}

#app {
  @apply p-4;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

header.main {
  @apply p-4 text-center flex align-middle content-center justify-center items-center;
}

header.main h1 {
  @apply text-4xl flex-1;
}

h1 {
  @apply my-4 text-3xl leading-8 font-extrabold text-gray-900;
}

h2 {
  @apply mt-8 mb-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-800;
}

h3 {
  @apply mt-2 mb-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-800;
}

header.main a {
  @apply mx-2;
}

pre {
  @apply font-mono mt-4 max-h-96 overflow-auto rounded shadow-md z-10 bg-gray-200 p-2 !important;
}

p {
  @apply mt-4 leading-7 text-gray-900;
}

ul {
  @apply list-disc ml-4;
}
